<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Vendas do Dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let p of produtos">
      <ion-label>{{ p.nome }}</ion-label>

      <ion-button fill="outline" (click)="diminuir(p)">-</ion-button>

      <ion-input type="number" [(ngModel)]="p.quantidade" style="width:60px; text-align:center;"></ion-input>

      <ion-button fill="outline" (click)="aumentar(p)">+</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" (click)="salvar()">Salvar</ion-button>

</ion-content>
