
<ion-header>
  <ion-toolbar>
    <ion-title >Estoques</ion-title>
    <!-- <ion-buttons slot="end"> -->
      <ion-button slot="end" (click)="abreCadastroEstoque()" >
       <p style="font-size: xx-small;"> NOVO </p>
      </ion-button>
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-grid>
    <ion-row *ngIf="novo">
      <ion-input placeholder="Nome do estoque" [(ngModel)]="nomeEstoque"></ion-input>
    </ion-row>
    <ion-row *ngIf="novo">
      <ion-col>
        <ion-button expand="full" >
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="novoEstoque()" >
          Salvar
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-list>
          <ng-container *ngFor="let item of itens$ | async">
            <ion-item (click)="selecionaInventory(item)" >
              <ion-label>
                <h2>{{ item.nome }}</h2>
              </ion-label>
              <ion-button slot="end" fill="outline" color="primary" >
                Ação
              </ion-button>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

