
<ion-header>
  <ion-toolbar>
    <ion-title>Contagem Zem</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="adicionaItem()">
          Adiciona item
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ng-container *ngFor="let item of items">
            <ion-item *ngIf="item.visible">
              <ion-label>
                <h2>{{ item.name }}</h2>
                <p>Quantidade: {{ item.qtd }}</p>
              </ion-label>
              <ion-button slot="end" fill="outline" color="primary" (click)="acao(item)">
                Ação
              </ion-button>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-item ></ion-item> -->