
<ion-header>
  <ion-toolbar>
    <ion-title  >Contagem Zem6</ion-title>
    <!-- <ion-buttons slot="end"> -->
      <ion-button slot="end" (click)="teste()" >
       <p style="font-size: xx-small;">Atualizar </p>
      </ion-button>
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-grid>    
    <ion-row>
      <ion-input placeholder="Buscar produto" [(ngModel)]="filtro"></ion-input>
      <ion-button (click)="limpar()">
        limpar
      </ion-button>
      <ion-button (click)="aplicaFiltro()">
        Filtrar
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="adicionaItem()">
          Ad item
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="modalEstoque()">
          Ad estoque
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="abreListaContagens()">
          listagem estoque
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ng-container *ngFor="let item of itens | async">
            <!-- <ion-item *ngIf="item.visible"> -->
            <ion-item (click)="selecionaItem(item)" [class.selected]="item.selected">
              <ion-label>
                <h2>{{ item.nome }}</h2>
                <p>Quantidade geral : {{ item.quantidade_geral}}</p>
              </ion-label>
              <ion-button slot="end" fill="outline" color="primary" >
                Ação
              </ion-button>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
